extends layout

block content
	.body
		.col-sm-10
			h1.title.inline.slide-right
				= "Messages"
		.div.scrollable
			table(id="messageList")		
				tr
					th
						
					th
						| From
					th.align-left
						| Subject
					th.align-right
						| Date
				- var id = 0
				each mess in message
					- id++
					.div
						form(name="readMessage", action="/message/read", method="post", id=id)
							input(type="hidden", value=mess.id, name="id")
						tr(onclick="var x = document.getElementById(#{id}).submit();", form=id)
							td(width="10%")
								button.btn.btn-default(type="submit", formaction="/message/delete", form=id) Delete
							td.align-left
								| #{mess.sender}
							td.align-left
								| #{mess.subject}
							td.align-right
								- var date = new Date();
								if (mess.date.getDate() == date.getDate() && mess.date.getMonth() == date.getMonth() && mess.date.getFullYear() && date.getFullYear)
									if (mess.date.getHours() > 12) 
										| #{mess.date.getHours()-12}:#{mess.date.getMinutes()} PM
									else
										| #{mess.date.getHours()}:#{mess.date.getMinutes()} AM
								else 
									| #{mess.date.getMonth()} #{mess.date.getDate()}