extends layout

block content
	.body
		.col-sm-9
			div.slide-right
				hr
				div.float-left
					img(src = image, height = "80", weight = "80")
				div
					p
						| Email: 
						= " " + email
					P
						| Name:
						= " " + name
					P
						| Subject:
						= " " + msg.subject
					hr
					textarea.textbox-size(readonly) #{msg.message}
				form(name="writeMessage", action="/message/writeMessage", method="post", id="formID")
					input(type="hidden", value=msg.id, name="id")
					input(type="hidden", value=msg.subject, name="subject")
					input(type="hidden", value=msg.sender, name="sender")
					input(type="hidden", value=msg.message, name="message")
					.col-sm-offset-10
						button.btn.btn-default(type="submit") Reply