extends layout

block content
	.body
		.col-sm-9
			div.slide-right
				hr
				div.float-left
					img(src = image, height = "80", weight = "80")
				div
					p
						| Email: 
						= " " + email
					P
						| Name:
						= " " + name
					P
						| Subject:
						= " " + msg.subject
					hr
					textarea.textbox-size(readonly) #{msg.message}
				if (!msg.rentalRequest)
					form(name="writeMessage", action="/message/writeMessage", method="post", id="formID")
						input(type="hidden", value=msg.id, name="id")
						input(type="hidden", value=msg.subject, name="subject")
						input(type="hidden", value=msg.sender, name="sender")
						input(type="hidden", value=msg.message, name="message")
						.col-sm-offset-10
							button.btn.btn-default(type="submit") Reply
				br
				if (msg.rentalRequest)
					label.label-control Accept Request?
					form(name="rentalInfo", action="/message/rent", method="post")
						input(type="hidden", name="owner", value=msg.receiver)
						input(type="hidden", value=msg.sender, name="renter")
						button.btn.btn-default(type="submit", name="renting", value="yes") Yes
						button.btn.btn-default(type="submit", name="renting", value="no") No
						br
						br
						label.label-control Comic Returned?           
							button.btn.btn-default(type="submit", name="returned", value="yes") Yes