extends layout

block content
	.body
		div.row
			form#search.form-horizontal(role="search", action="/search", method="post")
				label.control-label(for="search") Search for a comic or user:
				div.input-group
					input.form-control(type="text" placeholder="Search..." name="search")
					div.input-group-btn
						button.btn.btn-default(type="submit" value="Search")
							span.glyphicon.glyphicon-search
				div.row.margined
					label.control-label.col-sm-1.radio-inline(type="radio") 
						input(type="radio", name="searchtype", value="user", checked="checked")
						| User
					label.control-label.col-sm-1.radio-inline(type="radio")
						input(type="radio", name="searchtype", value="comic") 
						| Comic
		hr
		if nosearch
		else	
			div.row
				h2 Search Results for '#{searched}':
			div.row
				if searchtype == 'user'
					if exists
						table.table.table-striped.table-bordered.table-hover
							tr
								th Email
								th Display Name
							each user in data
								tr
									td
										a.tablelink(href='/profile') #{user.username}
									td
										if user.displayName
											a.tablelink(href='/profile') #{user.displayName}
										else
											a.tablelink(href='/profile') N/A
					else
						h5 No users can be found
				if searchtype == 'comic'
					if exists
						table.table.table-striped.table-bordered.table-hover
							tr
								th Name
								th Genre
							each comic in data
								tr
									td 
										a.tablelink(href='/comicpage') #{comic.name}
									td
										if comic.genre
											a.tablelink(href='/comicpage') #{comic.genre}
										else
											a.tablelink(href='/comicpage') N/A
					else
						h5 No comics can be found
					